{% extends 'feed_base.rss.jinja2' %}

{% block title %}FurAffinity browse, all submissions{% endblock %}

{% block description %}All new submissions on FurAffinity{% endblock %}

{% block feed_link %}https://www.furaffinity.net/browse/{% endblock %}

