{% macro render_submission(submission) %}
{% from 'feed_submission_description.html.jinja2' import render_submission_description %}
<item>
  <title>{{ submission.title }}</title>
  <link>{{ submission.link }}</link>
  <description>
      {{ render_submission_description(submission) | forceescape }}
  </description>
  {% set pubDate = submission.posted_at_pub_date() %}
  {% if pubDate %}
    <pubDate>{{ pubDate }}</pubDate>
  {% endif %}
  <guid>{{ submission.guid }}</guid>
  {% for keyword in submission.keywords %}
    <category>{{ keyword }}</category>
  {% endfor %}
</item>
{% endmacro %}