{% macro render_submission(submission) %}
{% from 'feed_submission_description.html.jinja2' import render_submission_description %}
<item>
  <title>{{ submission.title }}</title>
  <link>https://www.furaffinity.net/view/{{ submission.submission_id }}/</link>
  <description>
      {{ render_submission_description(submission) | forceescape }}
  </description>
  <pubDate>{{ format_datetime(submission.posted_at) }}</pubDate>
  <guid>https://www.furaffinity.net/view/{{ submission.submission_id }}/</guid>
    {% for keyword in submission.keywords %}
      <category>{{ keyword }}</category>
    {% endfor %}
</item>
{% endmacro %}