{% macro render_submission(submission) %}
<item>
  <title>{{ submission.title }}</title>
  <link>https://www.furaffinity.net/view/{{ submission.submission_id }}/</link>
  <description>
      <a href="https://www.furaffinity.net/view/{{ submission.submission_id }}/">
          <img src="{{ submission.thumbnail_url }}" alt="Submission thumbnail" />
      </a><br/><br/>
      <p>(Description not yet available, RSS feed initialising)</p>"
  </description>
  <guid>https://www.furaffinity.net/view/{{ submission.submission_id }}/</guid>
</item>
{% endmacro %}