{% extends 'feed_base.rss.jinja2' %}

{% block title %}{{ username | title }}'s {{ gallery | title }}{% endblock %}

{% block description %}{{ username | title }}'s {{ gallery | title }}{% endblock %}

{% block feed_link %}https://www.furaffinity.net/{{ gallery }}/{{ username }}/{% endblock %}

